---
layout: default
---

{% assign blood_types = "O-,A-,B-,AB-,O+,A+,B+,AB+" | split:"," %}

<div class="home container">
    <p>The following chart shows the change in Scotblood's blood stock over time. Note that a higher number of days remaining does not mean that there is more stock in real terms, only that it is estimated to last longer.</p>
    <p>This project aims to see if there are any visible trends in stock levels e.g. more or less in different seasons or after major events.</p>
    <hr>

    <h2>Current Stock - <small>Click box to change</small></h2>
    <div id="gauge" class="row">
      <div id="gaugelabel" class="one-half column">
          <ul>
          {% for type in blood_types %}
          <li class="{{ type }} gaugetab {% if forloop.first %}selected{% endif %}">{{ type }}</li>
          {% endfor %}
          </ul>
      </div>
      <div class="one-half column">
        <svg id="fillgauge1" height="20em"></svg>
      </div>
    </div>

    <h2>Graph of Blood Stock</h2>
    <div id="chart">
        <svg></svg>
    </div>
</div>
